<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Valid information is required to register. <span class="req"><small>
                                required *</small></span></legend>

                    <div class="form-group">
                        <label for="firstname"><span class="req">* </span>First Name: </label>
                        <input required type="text" [(ngModel)]="user.firstname" name="firstname" id="firstname"
                            class="form-control" maxlength="28" placeholder="Enter your firstname..." />
                    </div>

                    <div class="form-group">
                        <label for="lastname"><span class="req">* </span>Last Name: </label>
                        <input required type="text" [(ngModel)]="user.lastname" name="lastname" id="lastname"
                            class="form-control" maxlength="28" placeholder="Enter your lastname..." />
                    </div>

                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Email: </label> <small>This will be your login user
                            name</small> 
                        <input class="form-control" type="text" [(ngModel)]="user.email" name="email" id="email" required
                            placeholder="Enter valid email address" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="password"><span class="req">* </span>  Password: </label>
                        <input class="form-control" type="password" [(ngModel)]="user.password" name="password" id="password"
                            placeholder="Total year of experience" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="contact"><span class="req">* </span> Contact: </label>
                        <input class="form-control" required type="contact" [(ngModel)]="user.contact" name="contact"
                            id="contact" placeholder="Enter your contact number" />
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <label for="address"><span class="req">* </span> Pincode: </label>
                        <input class="form-control" required type="text" [(ngModel)]="user.address" name="address"
                            id="address" placeholder="Enter your pincode" />
                        <div class="status" id="status"></div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerNow()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>


