<div class="container">
    <div class="card card-container">
      
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
  
        <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
        <span id="reauth-email" class="reauth-email"></span>
        <div class="form-group" >
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email" required />
          <!-- <div *ngIf="f.submitted && !email.valid" class="help-block">an valid email is required</div> -->
        </div>
        <div class="form-group" >
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required />
          <!-- <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div> -->
        </div>
        <div id="remember" class="checkbox">
  
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
      </form><!-- /form -->
        <a [routerLink]="['/register']" class="btn btn-link">Create new Account!</a>
    </div><!-- /card-container -->
  </div><!-- /container -->